<div class="modal-overlay" id="modalOverlay">
  <div class="modal">
    <div class="modal-content">
      <%= yield :modal_content %>
    </div>
    <span class="close-modal" onclick="closeModal()">×</span>
  </div>
</div>